# Prefect 2.0
flows-advanced/ @rpeden @serinamarie @zzstoatzz @EmilRex
flows-starter/ @rpeden @robfreedy @serinamarie @zzstoatzz
devops/ @gabcoyne @jamiezieziula @prefectcboyd @rpeden @EmilRex # default
devops/github-actions/ @prefectcboyd @robfreedy @serinamarie @zzstoatzz
devops/infrastructure-as-code/ @gabcoyne @jamiezieziula @prefectcboyd

# General
.github/ @gabcoyne @robfreedy @jamiezieziula @zzstoatzz  # default

# Legacy: Prefect < 2.0 folders are unlikely to see additions/mods
prefect-v1-legacy/devops/ @gabcoyne @jamiezieziula @prefectcboyd  # default 
prefect-v1-legacy/devops/github-actions/ @prefectcboyd @robfreedy @serinamarie @zzstoatzz
prefect-v1-legacy/devops/infrastructure-as-code/ @gabcoyne @jamiezieziula @prefectcboyd @robfreedy
prefect-v1-legacy/graphql-queries/ @prefectcboyd @robfreedy
prefect-v1-legacy/use-cases/ @gabcoyne @serinamarie @zzstoatzz
