.DS_Store
**__pycache__/*

## terraform files
.terraform 
.terraform.*
.terraform.lock.hcl
terraform.*
**.tgz
Chart.lock
.env
**.env

## prefect development files
**deployment.yaml
**/__pycache__
**.prefectignore
