---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    serviceMonitorSelector: prometheus
  name: prometheus
  namespace: prometheus
spec:
  endpoints:
    - interval: 30s
      targetPort: 8090
      path: /metrics
  namespaceSelector:
    matchNames:
      - prometheus
  selector:
    matchLabels:
      operated-prometheus: "true"
