networkMode: awsvpc
cpu: 1024
memory: 2048
containerDefinitions:
  - name: flow
    logConfiguration:
      logDriver: awslogs
      options:
        awslogs-group: ${log_group_name}
        awslogs-region: ${region}
        awslogs-stream-prefix: ${log_stream_prefix}
        awslogs-create-group: "True"
