networkMode: awsvpc
cpu: ${default_task_cpu}
memory: ${default_task_memory}
containerDefinitions:
  - name: flow
    logConfiguration:
      logDriver: awslogs
      options:
        awslogs-group: ${log_group_name}
        awslogs-region: ${region}
        awslogs-stream-prefix: ${log_stream_prefix}
        awslogs-create-group: "True"
