[
    {
        "name": "prefect-agent",
        "image": "prefecthq/prefect:${version}",
        "essential": true,
        "command": [
            "prefect",
            "agent",
            "ecs",
            "start",
            "--task-role-arn",
            "${task_role_arn}",
            "--execution-role-arn",
            "${execution_role_arn}",
            "--task-definition",
            "${task_definition_file}",
            "--cluster",
            "${cluster}",
            "--run-task-kwargs",
            "${network_config_file}"
        ],
        "environment": [
            {
                "name": "PREFECT__CLOUD__API_KEY",
                "value": "${prefect_api_key}"
            },
            {
                "name": "PREFECT__CLOUD__AGENT__LABELS",
                "value": "${prefect_labels}"
            },
            {
                "name": "PREFECT__CLOUD__AGENT__LEVEL",
                "value": "${logging_level}"
            },
            {
                "name": "PREFECT__CLOUD__API",
                "value": "${prefect_api_address}"
            }
        ],
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-group": "${log_group}",
                "awslogs-region": "${region}",
                "awslogs-stream-prefix": "ecs"
            }
        }
    }
]