[Unit]
Description=Prefect Docker Agent
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/prefect agent docker start -k $PREFECT_API_KEY
[Install]
WantedBy=multi-user.target 